<div class="container mt-3 ml-5" *ngIf="show">
	<h3>{{ header }}</h3>
	<form [formGroup]="addAirline" (ngSubmit)="onSubmit()">
		<input type="hidden" formControlName="id">
		<div class="form-group row">
			<label for="name" class="col-md-2 col-form-label">Company name</label>
			<div class="col-md-3">
				<input type="text" class="form-control" id="name" formControlName="name" autocomplete="off">
			</div>
			<div class="col-md-7">
				<span *ngIf="!addAirline.get('name').valid && addAirline.get('name').touched">
					<span *ngIf="addAirline.get('name').errors['required']">Company name must be entered</span>
					<span *ngIf="addAirline.get('name').errors['minlength']">Company name must be atleast 4
						characters</span>
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="address" class="col-md-2 col-form-label">Address</label>
			<div class="col-md-3">
				<input type="text" class="form-control" id="address" formControlName="address" autocomplete="off">
			</div>
			<div class="col-md-7">
				<span *ngIf="!addAirline.get('address').valid && addAirline.get('address').touched">
					<span *ngIf="addAirline.get('address').errors['required']">Address must be entered</span>
					<span *ngIf="addAirline.get('address').errors['minlength']">Address must be atleast 4
						characters</span>
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="description" class="col-md-2 col-form-label">Description</label>
			<div class="col-md-3">
				<input type="text" class="form-control" id="description" formControlName="description"
					autocomplete="off">
			</div>
			<div class="col-md-7">
				<span *ngIf="!addAirline.get('description').valid && addAirline.get('description').touched">
					<span *ngIf="addAirline.get('description').errors['required']">Description must be entered</span>
					<span *ngIf="addAirline.get('description').errors['minlength']">Description must be atleast 4
						characters</span>
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="destinations" class="col-md-2 col-form-label">Destinations</label>
			<div class="col-md-2">
				<button type="button" class="btn btn-success" (click)="onAddDestination()">Add destination</button>
			</div>
			<div class="col-md-8" formArrayName="destinations">
				<div class="form-group"
					*ngFor="let destination of addAirline.get('destinations')['controls']; let i = index">
					<div class="row">
						<div class="col-md-4">
							<input title="Destination" type="text" class="form-control" [formControlName]="i"
								placeholder="Destination">
							<span
								*ngIf="!this.addAirline.get('destinations')['controls'][i].valid && this.addAirline.get('destinations')['controls'][i].touched">
								<span
									*ngIf="this.addAirline.get('destinations')['controls'][i].errors['required']">Destination
									must be entered</span>
								<span
									*ngIf="this.addAirline.get('destinations')['controls'][i].errors['minlength']">Destination
									must be atlest 2 characters</span>
								<span *ngIf="this.addAirline.get('destinations')['controls'][i].errors['pattern']">Only
									letters are allowed</span>
							</span>
						</div>
						<div>
							<button class="btn btn-danger" type="button"
								(click)="onDeleteDestination(i)">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="luggageInfo" class="col-md-2 col-form-label">Luggage info</label>
			<div class="col-md-2">
				<button type="button" class="btn btn-success" (click)="onAddLuggageInfo()">Add luggage info</button>
			</div>
			<div class="col-md-8" formArrayName="luggageInfo">
				<div class="form-group"
					*ngFor="let lagguageInfo of addAirline.get('luggageInfo')['controls']; let i = index">
					<div [formGroupName]="i">
						<div class="row">
							<div class="col-md-4">
								<input title="Weight" type="text" class="form-control" formControlName="weight"
									placeholder="Weight in kilos">
								<span
									*ngIf="!this.addAirline.get('luggageInfo')['controls'][i].get('weight').valid && this.addAirline.get('luggageInfo')['controls'][i].get('weight').touched">
									<span
										*ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('weight').errors['required']">Weight
										must be entered</span>
									<span
										*ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('weight').errors['pattern']">Only
										numbers from 0-9 are allowed</span>
								</span>
							</div>
							<div class="col-md-4">
								<input title="Price in euros" type="text" class="form-control" formControlName="price"
									placeholder="Price in euros">
								<span
									*ngIf="!this.addAirline.get('luggageInfo')['controls'][i].get('price').valid && this.addAirline.get('luggageInfo')['controls'][i].get('price').touched">
									<span
										*ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('price').errors['required']">Price
										must be entered</span>
									<span
										*ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('price').errors['pattern']">Only
										numbers from 0-9 are allowed</span>
								</span>
							</div>
							<div>
								<button class="btn btn-danger" type="button"
									(click)="onDeleteLuggageInfo(i)">Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ml-5">
			<button class="btn btn-success" [disabled]="!addAirline.valid" type="submit"> {{ header }} </button>
		</div>
	</form>
</div>