<form class="form-inline" [formGroup]="searchRacCompany" (ngSubmit)="onSearch()" (ngReset)="onReset()">
    <div class="form-row">
        <div class="col">
            <input formControlName="companyName" type="text" class="form-control" placeholder="Company name" title="Company name">
        </div>
        <div class="col">
            <input formControlName="address" type="text" class="form-control" placeholder="Address" title="Address">
        </div>
        <div class="col">
            <input formControlName="fromDate" type="date" class="form-control" title="Vehicle needed from">
        </div>
        <div class="col">
            <input formControlName="toDate" type="date" class="form-control" title="Vehicle needed to">
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
        <div class="col">
            <button class="btn btn-danger" type="reset">Reset</button>
        </div>
    </div>
</form>