<div class="row">

    <div class="col-md-3">
        <div class="file-field">
            <div class="d-flex justify-content-center">
                <img [src]="imageUrl" class="rounded-circle avatar-pic" alt="Image" width="200" height="200">
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-mdb-color btn-rounded float-left">
                    <input type="file" style="display: none;" (change)="onFileChange($event)" #fileUpload>
                    <button type="button" class="btn btn-primary" (click)="fileUpload.click()">Select photo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" *ngIf="show">
        <h5>Personal informations</h5>
        <form [formGroup]="editUser" (ngSubmit)="onSubmitUser()" autocomplete="off">
            <div class="form-group row">
                <label for="fullname" class="col-md-3 col-form-label">Fullname</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="fullname" formControlName="fullname">
                    <span *ngIf="!editUser.get('fullname').valid && editUser.get('fullname').touched">
                        <span *ngIf="editUser.get('fullname').errors['required']">Fullname must be entered</span>
                        <span *ngIf="editUser.get('fullname').errors['minlength']">Fullname must be atleast 4
                            characters</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-md-3 col-form-label">Username</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="username" formControlName="username" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-3 col-form-label">Email</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="email" formControlName="email" readonly>
                </div>
            </div>
            <div class="form-group row" *ngIf="serverService.getUserType() === 'User'">
                <label for="passportNumber" class="col-md-3 col-form-label">Passport number</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="passportNumber" formControlName="passportNumber">
                    <span *ngIf="!editUser.get('passportNumber').valid && editUser.get('passportNumber').touched">
                        <span *ngIf="editUser.get('passportNumber').errors['required']">Passport number must be
                            entered</span>
                        <span *ngIf="editUser.get('passportNumber').errors['pattern']">Passport number must contain 9
                            digits</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-md-3 col-form-label">Address</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="address" formControlName="address">
                    <span *ngIf="!editUser.get('address').valid && editUser.get('address').touched">
                        <span *ngIf="editUser.get('address').errors['required']">Address must be entered</span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="number" class="col-md-3 col-form-label">Number</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="number" formControlName="number">
                    <span *ngIf="!editUser.get('number').valid && editUser.get('number').touched">
                        <span *ngIf="editUser.get('number').errors['required']">Number must be entered</span>
                        <span *ngIf="editUser.get('number').errors['pattern']">Only numbers from 0-9 are allowed</span>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success" [disabled]="!editUser.valid">Save changes</button>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <h5>Reset password</h5>
        <form [formGroup]="editPassword" (ngSubmit)="onSubmitPassword()" autocomplete="off">
            <div class="form-group row">
                <label for="oldPassword" class="col-md-4 col-form-label">Old password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
                    <span *ngIf="!editPassword.get('oldPassword').valid && editPassword.get('oldPassword').touched">
                        <span *ngIf="editPassword.get('oldPassword').errors['required']">Old passwords must be
                            entered</span>
                    </span>
                </div>
            </div>
            <div class="form-group row" formGroupName="passwordGroup">
                <label for="newPassword" class="col-md-4 col-form-label">New password</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
                    <span
                        *ngIf="!editPassword.get('passwordGroup').get('newPassword').valid && editPassword.get('passwordGroup').get('newPassword').touched">
                        <span *ngIf="editPassword.get('passwordGroup').get('newPassword').errors['required']">New
                            password must be entered</span>
                        <span *ngIf="editPassword.get('passwordGroup').get('newPassword').errors['minlength']">New
                            password must be atleast 6 characters</span>
                    </span>
                </div>
                <label for="reentered" class="col-md-4 col-form-label mt-3">Re-enter</label>
                <div class="col-md-8 mt-3">
                    <input type="password" class="form-control" id="reentered" formControlName="reentered">
                    <span
                        *ngIf="!editPassword.get('passwordGroup').get('reentered').valid && editPassword.get('passwordGroup').get('reentered').touched">
                        <span *ngIf="editPassword.get('passwordGroup').get('reentered').errors['required']">Password
                            must be entered</span>
                    </span>
                    <span *ngIf="editPassword.get('passwordGroup').errors !== null">
                        <span *ngIf="editPassword.get('passwordGroup').errors['notMatch']">Passwords must match</span>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success" [disabled]="!editPassword.valid">Change password</button>
            </div>
        </form>
    </div>
</div>