<div class="row ml-3">
    <h6 class="ml-3">Search rent a car company by:</h6>
    <div class="col-md-12">
        <app-rent-a-car-company-search (search)="onSearch()" (reset)="onReset()"></app-rent-a-car-company-search>
    </div>
</div>
<div class="ml-3 mr-3">
    <hr style="border-color: cadetblue;">
</div>
<div class="row ml-3 mt-3">
    <div class="col-md-3">
        <div class="list-group" *ngIf="racCompanyService.racCompanies.length !== 0 else empty">
            <a type="button" class="list-group-item list-group-item-action" 
            *ngFor="let racCompany of racCompanyService.racCompanies" [routerLink]="['details', racCompany.Id]" routerLinkActive="active"> 
                {{ racCompany.CompanyName }}
            </a>
        </div>
        <ng-template #empty>
            <p class="text-info">There is no companies available!</p>
        </ng-template>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>