<form [formGroup]="searchVehicles" (ngSubmit)="onSearch()" (ngReset)="onReset()">
    <div class="form-row mb-2">
        <div class="col-md-3">
            <input formControlName="pickupDate" type="date" class="form-control" title="Vehicle pick-up date">
        </div>
        <div class="col-md-3">
            <input formControlName="getInCity" type="text" class="form-control" title="Get vehicle in city" placeholder="Get vehicle in city">
        </div>
        <div class="col-md-3">
            <input formControlName="returnDate" type="date" class="form-control" title="Vehicle return date">
        </div>
        <div class="col-md-3">
            <input formControlName="returnToCity" type="text" class="form-control" title="Return vehicle to city" placeholder="Return vehicle to city">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            <select class="form-control browser-default custom-select" id="type" formControlName="type" autocomplete="off">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <select class="form-control browser-default custom-select" id="seat" formControlName="seat" autocomplete="off">
                <option *ngFor="let seat of seats" [value]="seat">{{seat}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" type="submit">Search</button>
            <button class="btn btn-danger ml-2" type="reset">Reset</button>
        </div>
    </div>
</form>