<div class="container justify-content-center" *ngIf="flightService.flight">
    <h3 class="text-center p-3">Choose seat(s)</h3>
    <div class="row justify-content-center ml-4" *ngFor="let row of flightService.flight.Rows; let i = index">
        <div *ngFor="let seat of row.Seats; let j = index" [ngClass]="{'mr-5': j % 3 === 2}">
            <label>
                <span *ngIf="seat.User_PassportNumber !== null">
                    <input type="checkbox" checked disabled/>
                    <span class="seatButtonTaken" *ngIf="i !== 0">{{ i * 9 + j + 1}}</span>
                    <span class="seatButtonTaken" *ngIf="i === 0">0{{ j + 1}}</span>
                </span>
                <span *ngIf="seat.User_PassportNumber === null">
                    <input id={{row.Id}}+{{seat.Id}} type="checkbox" (change)="checked(row.Id, seat.Id, i, j)"/>
                    <span class="seatButtonFree" *ngIf="i !== 0">{{ i * 9 + j + 1}}</span>
                    <span class="seatButtonFree" *ngIf="i === 0">0{{ j + 1}}</span>
                </span>
            </label>
        </div>
    </div>
    <div>
        <hr style="border-color: cadetblue;">
    </div>
    <div class="container">
        <form [formGroup]="formSeat" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group row">
                <div class="col-md-8" formArrayName="seats">
                    <div class="form-group" *ngFor="let seat of formSeat.get('seats')['controls']; let i = index">
                        <div [formGroupName]="i">
                            <h6>{{ formSeat.get('seats')['controls'][i].get('seatNumber').value }}. seat</h6>
                            <div class="row mb-1">
                                <div class="col-md-4">
                                    <select class="custom-select" formControlName="seatFor" (change)="onOptionChange(i)">
                                        <option selected disabled>Seat for</option>
                                        <option value="Me">Me</option>
                                        <option value="Friend">Friend</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" [id]="formSeat.get('seats')['controls'][i].get('seatNumber').value" [value]="i">
                            <div class="row" *ngIf="formSeat.get('seats')['controls'][i].get('seatFor').value === 'Other'">
                                <div class="col-md-4">
                                    <input title="Fullname" type="text" class="form-control" formControlName="fullname" placeholder="Fullname">
                                    <!-- <span *ngIf="!this.addAirline.get('luggageInfo')['controls'][i].get('weight').valid && this.addAirline.get('luggageInfo')['controls'][i].get('weight').touched">
                                        <span *ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('weight').errors['required']">Weight must be entered!</span>
                                        <span *ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('weight').errors['pattern']">Only numbers from 0-9 are allowed!</span>
                                    </span> -->
                                </div>
                                <div class="col-md-4">
                                    <input title="Passport number" type="text" class="form-control" formControlName="passportNumber" placeholder="Passport number">
                                    <!-- <span *ngIf="!this.addAirline.get('luggageInfo')['controls'][i].get('price').valid && this.addAirline.get('luggageInfo')['controls'][i].get('price').touched">
                                        <span *ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('price').errors['required']">Price must be entered!</span>
                                        <span *ngIf="this.addAirline.get('luggageInfo')['controls'][i].get('price').errors['pattern']">Only numbers from 0-9 are allowed!</span>
                                    </span> -->
                                </div>
                            </div>
                            <div class="row" *ngIf="formSeat.get('seats')['controls'][i].get('seatFor').value === 'Friend'">
                                <div class="col-md-4">
                                    <select class="custom-select" formControlName="friendUsername" (change)="onFriendChange(i)">
                                        <option selected disabled>Friend</option>
                                        <option *ngFor="let friend of serverService.friends" [ngValue]="friend.Username">{{friend.Username}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success" [disabled]="!formSeat.valid" type="submit"> Confirm </button>
            </div>
        </form>
    <div>
</div>