input[type='checkbox'] {
    display: none;
}

.seatButtonTaken {
    padding: 7px; 
    border: 1px solid #ccc;
    background: red;
}

.seatButtonTicket {
    padding: 7px; 
    border: 1px solid #ccc;
    background: purple;
}

.seatButtonFree {
    padding: 7px; 
    border: 1px solid #ccc;
    background: honeydew;
}

input:checked + .seatButtonFree {
    background: yellow;
}

input.ng-invalid.ng-touched{
    border: 2px solid red;
}

input.ng-valid.ng-touched{
    border: 2px solid green;
}

.red-span{
    color: red;
}