<div class="container" style="background-color: white;" *ngIf="ticketService.ticket">
    <div class="row">
        <div class="col-md-3">
            <label> Take off destination: </label>
        </div>
        <div class="col-md-3">
            <label> {{ ticketService.ticket.StartDestination }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Landing destination: </label>
        </div>
        <div class="col-md-3">
            <label> {{ ticketService.ticket.EndDestination }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Take off date: </label>
        </div>
        <div class="col-md-3">
            <label> {{ convertDate(ticketService.ticket.StartDateAndTime) }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Ticket price: </label>
        </div>
        <div class="col-md-3">
            <label> {{ ticketService.ticket.TicketPrice }} &euro; </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Discount: </label>
        </div>
        <div class="col-md-3">
            <label> {{ ticketService.ticket.Discount }} % </label>
        </div>
    </div>
    <div class="row" *ngIf="serverService.getUserType() === 'User'">
        <div class="col-md-12">
            <!-- <button class="btn btn-success" [disabled]="vehicle.reserved"
                [title]="vehicle.reserved ? 'Already reserved' : ''"
                (click)="onReserve()">Reserve - PREPRAVITI</button> -->
            <button class="btn btn-success" (click)="onReserve()">Reserve - PREPRAVITI</button>
        </div>
    </div>
</div>