<div class="col-md-10 ml-3 mt-3" style="background-color: white;">
    <div class="row">
        <div class="col-md-3">
            <label> Company name </label>
        </div>
        <div class="col-md-9">
            <label> {{ airline.companyName }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address </label>
        </div>
        <div class="col-md-9">
            <label> {{ airline.address }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Description </label>
        </div>
        <div class="col-md-9">
            <label> {{ airline.description }} </label>
        </div>
    </div>
</div>