<div class="row ml-3 mr-3 mt-3">
    <a routerLink="add" class="btn btn-success mb-2">Add admin</a>
    <table class="table table-dark" *ngIf="admins.length !== 0 else empty">
        <thead>
            <tr class="text-center">
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let admin of admins">
                <td> {{ admin.ime }}</td>
                <td> {{ admin.prezime }}</td>
                <td> {{ admin.email }}</td>
                <td>
                    <span>
                        <a [routerLink]="['details', admin.id]" class="btn btn-info mr-2">Details</a>
                        <a [routerLink]="['edit', admin.id]" class="btn btn-secondary mr-2">Edit</a>
                        <button class="btn btn-danger" (click)="onDelete(admin.id)">Delete</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty>
        <p class="text-info ml-3 mt-1" style="font-size: large;">There is no admins available!</p>
    </ng-template>
</div>