<div class="row ml-3 mr-3 mt-3">
    <a routerLink="add" class="btn btn-success mb-2">Add admin</a>
    <table class="table table-dark">
        <thead>
            <tr class="text-center">
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let adminEl of admins; let i = index" app-admin [admin]="adminEl"
                [id]="i">
            </tr>
        </tbody>
    </table>
</div>