<div class="row ml-3">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="col-md-6">
                <select #sortBy class="custom-select" (change)="onSortChange(sortBy.value)">
                    <option selected="true" disabled>Sort by</option>    
                    <option value="0">Name ascending</option>
                    <option value="1">Name descending</option>
                    <option value="2">City ascending</option>
                    <option value="3">City descending</option>
                    <!-- <option value="City">City</option> -->
                </select>
            </div>
        </div>
        <div class="list-group" *ngIf="airlineService.airlines.length !== 0 else empty">
            <a type="button" class="list-group-item list-group-item-action"
                *ngFor="let airline of airlineService.airlines; let i = index" [routerLink]="['details', airline.Id]"
                routerLinkActive="active">
                {{ airline.CompanyName}}, {{ airline.Description}}
            </a>
        </div>
        <ng-template #empty>
            <p class="text-info">There is no airlines available!</p>
        </ng-template>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>