<div class="row ml-3 mr-3 mt-3">
    <div class="col-2">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-flights-list" data-toggle="list"
          href="#list-flights" role="tab" aria-controls="friends">Flights</a>
        <!-- <a class="list-group-item list-group-item-action" id="list-friend-requests-sent-list" data-toggle="list"
          href="#list-friend-requests-sent" role="tab" aria-controls="friend-requests-sent">Friend requests sent</a> -->
      </div>
    </div>
    <div class="col-4">
      <div class="tab-content" id="nav-tabContent">
        <!-- Flights -->
        <div class="tab-pane fade show active" id="list-flights" role="tabpanel" aria-labelledby="list-flights-list">
          <ul class="list-group" *ngIf="flightService.reservedFlights.length !== 0 else flightsEmpty">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let flight of flightService.reservedFlights">
              <p class="p-0 m-0 flex-grow-1">{{ flight.Destination }} </p>
              <button class="btn btn-info ml-1" (click)="onReservedFlightDetails(flight)">Details</button>
              <button class="btn btn-danger ml-1" (click)="onReservedFlightCancel(flight)">Cancel</button>
            </li>
          </ul>
          <ng-template #flightsEmpty>
            <p class="text-info">You haven't made any reservation.</p>
          </ng-template>
        </div>
  
        <!-- Vehicles  -->
        <!-- <div class="tab-pane fade" id="list-friend-requests-sent" role="tabpanel" aria-labelledby="list-friend-requests-sent-list">
          <ul class="list-group" *ngIf="serverService.friendRequestsSent.length !== 0 else friendRequestsSentEmpty">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let friend of serverService.friendRequestsSent">
              <p class="p-0 m-0 flex-grow-1">{{ friend.Username }}, {{ friend.Fullname }}
              </p>
              <div>
                <button class="btn btn-danger" (click)="onCancelFriendRequest(friend.Username)">Cancel</button>
              </div>
              <button class="btn btn-info ml-1" (click)="onDetailsFriend(friend.Username)">Details</button>
            </li>
          </ul>
          <ng-template #friendRequestsSentEmpty>
            <p class="text-info">You haven't sent any friend request.</p>
          </ng-template>
        </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>