<div class="col-md-10 ml-3 mt-3" style="background-color: white;">
    <div class="row">
        <div class="col-md-3">
            <label> Name </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.ime }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Lastname </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.prezime }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Email address </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.email }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.adresa }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Number </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.telefon }} </label>
        </div>
    </div>
</div>