<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-md-3">
            <label> Company name: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racCompany.companyName }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racCompany.address }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Description: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racCompany.description }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Services: </label>
        </div>
        <div class="col-md-9">
            <div class="row ml-2" *ngFor="let service of racCompany.services">
                <label> {{ service }} </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Branches: </label>
        </div>
        <div class="col-md-9">
            <div class="row ml-2" *ngFor="let branch of racCompany.branches">
                <label> {{ branch }} </label>
            </div>
        </div>
    </div>
</div>