<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-md-3">
            <label> Company name: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racService.companyName }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racService.address }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Description: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racService.description }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Services: </label>
        </div>
        <div class="col-md-9">
            <div class="row ml-2" *ngFor="let service of racService.services">
                <label> {{ service.getService() }} </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Branches: </label>
        </div>
        <div class="col-md-9">
            <div class="row ml-2" *ngFor="let branch of racService.branches">
                <label> {{ branch }} </label>
            </div>
        </div>
    </div>
</div>