<h6>Search vehicles by:</h6>
<app-vehicle-search (search)="onSearch()" (reset)="onReset()"></app-vehicle-search>
<hr style="border-color: cadetblue;">
<div class="row">
    <div class="col-md-4">
        <div class="list-group" *ngIf="vehicleService.vehicles.length !== 0 && !isFetching else empty">
            <a type="button" class="list-group-item list-group-item-action" *ngFor="let vehicle of vehicleService.vehicles"
                [routerLink]="['details', vehicle.Id]" routerLinkActive="active">
                {{ vehicle.Brand}} {{ vehicle.Model }}, {{ getType(vehicle.Type) }}
            </a>
        </div>
        <ng-template #empty>
            <p class="text-info" *ngIf="!isFetching">There is no vehicles available!</p>
        </ng-template>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="topcorner lds-dual-ring" *ngIf="isFetching"></div>