<div class="row justify-content-center">
	<form class="w-25 p-3" [formGroup]="passwordForm" (ngSubmit)="onSubmit()" autocomplete="off">
		<h3 class="text-center p-3">Enter new password</h3>
		<div class="form-group">
			<input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
			<span
				*ngIf="!passwordForm.get('password').valid && passwordForm.get('password').touched">
				<span *ngIf="passwordForm.get('password').errors['required']">Password must be
					entered</span>
				<span *ngIf="passwordForm.get('password').errors['minlength']">Password must be atleast
					6 characters</span>
			</span>
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="passwordConfirmed" formControlName="passwordConfirmed"
				placeholder="Confim password">
			<span
				*ngIf="!passwordForm.get('passwordConfirmed').valid && passwordForm.get('passwordConfirmed').touched">
				<span *ngIf="passwordForm.get('passwordConfirmed').errors['required']">Password must be
					entered</span>
			</span>
			<span *ngIf="passwordForm.errors !== null">
				<span *ngIf="passwordForm.errors['notMatch']">Passwords must match</span>
			</span>
		</div>
		<div class="text-center">
            <button type="submit" class="btn btn-success" [disabled]="!passwordForm.valid">Confirm</button>
        </div>
	</form>
</div>