<td> {{ vehicle.brand }} </td>
<td> {{ vehicle.model }} </td>
<td> {{ vehicle.getType() }} </td>
<td> {{ vehicle.cubicCapacity }} </td>
<td> {{ vehicle.horsePower }} </td>
<td>
    <span>
        <a [routerLink]="['details', id]" class="btn btn-info mr-2">Details</a>
        <a [routerLink]="['edit', id]" class="btn btn-secondary mr-2">Edit</a>
        <button [disabled]="serverService.getUserType() !== 'Admin_RentACarCompanies'" class="btn btn-danger" (click)="onDelete()">Delete</button>
    </span>
</td>