<div class="container" style="background-color: white;">
    <div>
        <ul class="list-group">
            <li class="list-group-item">Airline name: {{airlineCompanyName}} </li>
            <li class="list-group-item">Company rating: {{rating}}</li>
            <li class="list-group-item">Choose flight: combobox</li>
            <li class="list-group-item">Flight rating: {{flightRating}}</li>
        </ul>
    </div>   
    <br>
    <br>
    <div class="row">
        <div class="col">
            <label> Daily income: </label>
            <canvas id="canvas"></canvas>
        </div>    
        <div class="col">
            <label> Weekly income: </label>
            <canvas id="canvas1"></canvas>   
        </div> 
        <div class="col">
            <label> Monthly income: </label>
            <canvas id="canvas2"></canvas>  
        </div>  
    </div>
</div>

