<div class="container" style="background-color: white;" *ngIf="vehicle">
    <div class="row">
        <div class="col-md-4">
            <label> Brand </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.Brand }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Model: </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.Model }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Type: </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.Type }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Cubic capacity: </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.CubicCapacity }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Power (HP): </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.HorsePower }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Year of production: </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.YearOfProduction }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Kilometer: </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.Kilometers }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Number of seats: </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.NumberOfSeats }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label> Rating: </label>
        </div>
        <div class="col-md-3">
            <label> {{ vehicle.Rating }} </label>
        </div>
    </div>
    <!-- <div class="row" *ngIf="serverService.getUserType() === 'User'">
        <div class="col-md-12">
            <button class="btn btn-success" [disabled]="vehicle.reserved"
                [title]="vehicle.reserved ? 'Already reserved' : ''"
                (click)="onReserve()">Reserve - PREPRAVITI</button>
        </div>
    </div> -->
</div>