<div class="container" style="background-color: white;">
    <div class="row">
        <div class="col-md-3">
            <label> Company name: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racCompany.companyName }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racCompany.address }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Description: </label>
        </div>
        <div class="col-md-9">
            <label> {{ racCompany.description }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Services: </label>
        </div>
        <div class="col-md-9" *ngIf="racCompany.services.length !== 0 else servicesEmpty">
            <ul class="row ml-2" *ngFor="let service of racCompany.services">
                <li> {{ service }} </li>
            </ul>
        </div>
        <ng-template #servicesEmpty>
            <div class="col-md-9">
                <div class="row ml-2">
                    <p>There is no services available!</p>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Branches: </label>
        </div>
        <div class="col-md-9" *ngIf="racCompany.branches.length !== 0 else branchesEmpty">
            <ul class="row ml-2" *ngFor="let branch of racCompany.branches">
                <li> {{ branch }} </li>
            </ul>
        </div>
        <ng-template #branchesEmpty>
            <div class="col-md-9">
                <div class="row ml-2">
                    <p>There is no branches available!</p>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Vehicles: </label>
        </div>
        <button class="btn btn-info ml-3" (click)="onSeeVehicles()">See vehicles</button>
    </div>
</div>