<div class="container" style="background-color: white;" *ngIf="user">
    <div class="row">
        <div class="col-md-3">
            <label> Fullname </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Fullname }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Username </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Username }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Email address </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Email }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Address }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Number </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Number }} </label>
        </div>
    </div>
</div>