<div class="container" style="background-color: white;" *ngIf="user">
    <div class="row">
        <div class="col-md-3">
            <label> Name </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Name }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Lastname </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Lastname }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Email address </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Email }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Address }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Number </label>
        </div>
        <div class="col-md-9">
            <label> {{ user.Number }} </label>
        </div>
    </div>
</div>