<div class="container" style="background-color: white;" *ngIf="admin">
    <div class="row">
        <div class="col-md-3">
            <label> Fullname </label>
        </div>
        <div class="col-md-9">
            <label> {{ admin.Fullname }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Username </label>
        </div>
        <div class="col-md-9">
            <label> {{ admin.Username }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Email address </label>
        </div>
        <div class="col-md-9">
            <label> {{ admin.Email }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Address </label>
        </div>
        <div class="col-md-9">
            <label> {{ admin.Address }} </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label> Number </label>
        </div>
        <div class="col-md-9">
            <label> {{ admin.Number }} </label>
        </div>
    </div>
</div>