<nav class="navbar navbar-expand-md navbar-dark bg-dark ml-3 mr-3">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapseAdmin">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapseAdmin">
        <div class="navbar-nav">
            <a routerLink="rac-companies" routerLinkActive="active" class="nav-item nav-link">Rent a car companies</a>
            <a routerLink="airlines" routerLinkActive="active" class="nav-item nav-link">Airlines</a>
            <a routerLink="rac-companies-admins" routerLinkActive="active" class="nav-item nav-link">Admins for rent a car companies</a>
            <a routerLink="airlines-admins" routerLinkActive="active" class="nav-item nav-link">Admins for airlines</a>
        </div>
    </div>
</nav>